/* .work-conatiner{
   
}
.header{
    display: flex;
   justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 10% 33%;
}
.fields{
    display: flex;
    justify-content: space-around;

} */