.CarD{
    height: 570px;
width: 270px;
margin: 35px  5%;
border-radius: 0px;
}
.CarD img{
    margin-left: 25%;
    margin-right: 5%;

}
.CarD p{
      margin-left: 25%;
    margin-right: 5%;
    margin-top: 10%;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
 
    
}
.CarD h{
      margin-left: 26%;
    margin-right: 5%;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    
    

}
.CarD img img{
    margin-left: 25%;
    margin-right: 5%;
}
.CarD h1{
    margin-left: 5%;
    margin-top: 15%;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
.CarD  h2{
    margin-left: 5%;
    margin-top: 3%;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
.CarD  h2 {

    margin-top: 3%;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #11998b;

}
.LINN{position: relative;
   margin-top: -3%;
}
.LINN img{
    margin-top: -3%;
    margin-left: 5%;
    width: 200px;
}
.Details{
margin-left:-25%;
margin-top: -4%;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 20px;
letter-spacing: 0px;
text-align: left;



}
.Details p{
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

}
.Details-subtext{
    position: absolute;
    width: 270px;
height: 250px;
margin-left:0%;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
color: #6B6B6A;
opacity: 0.8;

}
.Details-subtext p{
position: relative;
width: 200px;
height: 20px;
margin-left: 13%;
margin-top: -8%;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: start;

}
.Details-subtext img{
    position: relative;
margin-left: 5%;
margin-top: 0%;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: start;

}