.CarD{
    border-radius: 0px;

    }
    .profile{
        text-align: center;
    }
    .profile p{
        font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #6B6B6A;
    }
    .profile h6{
        font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B6B6A;
    
    }
    .complete-profile{
    
       margin: 24px 20px 17px;
        border-bottom: 2px solid#cececb;
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #6B6B6A;
    }
    .Details-subtext{
        margin: 24px 20px 17px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6A;
    opacity: 0.8;
    }
    .details-info i{
        color:#1DA799;
        padding: 0 10px 0 0;
    }
    .Details-subtext .fa-heart{
        background: #1DA799;
        padding: 4px;
        border-radius: 50%;
        color:#FFFFFF;
        font-size: 8px;
    } 
    
    .img_setting{
        margin-right: 10px;
    }
    
    @media only screen and (max-width: 1000px) {
        .complete-profile h5 {
            font-size: 12px;
        }
        .complete-profile {
            margin: 22px 1px 19px;
        }
        .Details-subtext {
            margin: 0px 0px 0px 0px;

        }

      }