/* saima or testing */
.lin-btn button {
  width: 100%;
}

.SignUp-flex-container .btn--yellow {
  background-color: #EE9821;
  width: 115px;
  height: 36px;
  border-radius: 2px;
  color: white;
  font-family: 'Poppins';
  text-align: center;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 23px;
}
.SignUp-flex-container .btn-default{
  background: #EE9821;
  border-radius: 4px;
}
.SignUp-flex-container button.btn.btn--project.btn--medium {
  background: #ee9821;
  color: #fff;
  width: 116px !important;
}