.hr_rightbox{

    height: 551px;
    display: flex;
}


.hr_icon{
    height: 47px;
    /* margin-top: 5%; */
    /* margin-left: 120px; */
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding-top: 56px;
}

.hr_foot{
    background-repeat: no-repeat;
    height: 182px;
    left: 0px;
    /* margin-top: 0.5%; */
    background-size: contain;
    background-position: bottom left;

}

.hr_Head{
    /* margin-top: 17px; */
    /* margin-left: 116px; */
    font-family: Poppins;
font-style: normal;
font-size: 20px;
}

.hr_Para{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* margin-left: 116px; */
width:280px;
/* margin-top: 1%; */
}
.hr_Para1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;


}
.hr_Para3{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;

}

.hourly-text{
    padding-top: 20px;
}


.hr_Para2{
    background: #e6c290c2;
    opacity: 0.8;
    text-align: center;
    padding: 20px 30px ;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: bolder;
    border-radius: 6px;
}

