.pi_rightbox {
    width: 100%;
    height: 551px;
}

.Profile_info {
    width: 100%;
    padding-left: 8px;
}

.pi_icon{
    width: 58px;
    height: 59px;
    /* margin-left: 120px; */
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.pi_foot{
    background-repeat: no-repeat;
    height: 182px;
    left: 0px;
    margin-top: 0.5%;
    background-size: contain;
    background-position: bottom left;

}

.pi_Head{
    /* margin-top: 17px; */
    /* margin-left: 116px; */
    font-family: Poppins;
font-style: normal;
font-size: 20px;
}

.pi_Para{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* margin-left: 116px; */
width:280px

}

.ExpireDate{
    display: inline-flex;
}


.PiDiv{
        display: flex;
        /* margin-top: 50px; */
}

.headingStyle{
    font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;

color: #6B6B6A;
}