.Pf-rightbox {
  width: 100%;
  padding-bottom: 15.5%;
}

.img-wrap {
  width: 100%;
}
.pf_nextButton{
    margin: 149px 152px;
    float: right;
}
.pf_prevButton{
    margin: 158px 0% 0% 120px;
    float: left;
    border: none;
}

.personalprofileicon {
  width: 42px;
  height: 42px;
  /* margin-left: 120px; */
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.personalprofile_foot {
  height: 180px;
  background-repeat: no-repeat;
  height: 182px;
  left: 0px;
  margin-top: 0.5%;
  background-size: contain;
  background-position: bottom left;
}


.personalprofileHead{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #6B6B6A;
  left: 43.33%;
right: 43.58%;
top: 24.38%;
bottom: 72.12%;
padding-top: 12px;
}

.personalprofilePara {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  margin-top: 1%;
  width: 280px;
}

.Profile_info {
  padding-left: 20px;
  width: 100%;
}
  .pp_inputHeading{
                    font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 20px;
                  color: #6B6B6A;
              }


  @media screen and (max-width: 775px) {
                .personalprofile_foot{
                  height: 319px;
                }
              
              }