.mile-stones .MuiAvatar-colorDefault {
    background-color: #ddf2f0;
}
.milston-inner h4 {
    font-size: 14px;
    color: #6b6b6a;
    font-weight: 500;
    font-family: Poppins;
}
.milston-inner .price-tag{
    color: #6b6b6a;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
}