
.contract-left{
    background: #ffffff;
}
.contract-left ul li span{
    float: right;

    
}
.contractone-main .main-wrap {
    color:#6B6B6A;
}
.contract-left ul li{
border-bottom: 1px solid rgba(107, 107, 106, .1);
}
.contract-left ul li:last-child{
    border-bottom: none;
}
.contract-left ul li p {
    /* padding: 17px 20px; */
    margin: 0;
    font-size: 13px;
}
.budget{
    color: #EE9821;
}
.paid{
    color: #1DA799;
}
