.contract-view {
    background: #ffffff;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(107, 107, 106, .1);
}
.contract-view h2 {
    font-size: 18px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    float: right;
    background: #6b6b6a;
    padding: 8px 16px;
    color: #ffffff;
}