body{
color: #6B6B6A;
}
.main-area {
    background: #E5E5E5;
}

.job-detail h3 {
    font-size: 14px;
    color: #6b6b6a;
}
.required-skills {
    background: #ffffff;
    border-top: 0.5px solid rgba(107, 107, 106, 0.2);
    border-bottom: 0.5px solid rgba(107, 107, 106, 0.2);
}
.bid-inner{
    font-size: 13px;
}
.job-detail label.bid-title {
    width: 116px;
    font-weight: 600;
    color: #6b6b6a;
    font-size: 12px;
}
.bid-detail {
    font-weight: 600;
    color: #6b6b6a;
    font-size: 13px;
}
.job-detail .price p {
    font-size: 16px;
}

.job-detail .price p t {
    font-size: 12px;
}
.information {
    background: #ffffff;
}
.bid-inner li {
    padding: 0 0 7px;
}
.client-info{
    border-left: 0.5px solid rgba(107, 107, 106, 0.2);
}
.client-details ul i {
    padding: 0 7px 0 0;
    color: #1da799;
    font-size: 12px;
}
.client-details ul h4{
    color: #6B6B6A;
}
.client-details h4 {
    font-size: 13px;
    font-weight: 700;
}
.client-details p {
    padding: 0 0 0 18px;
    font-size: 12px;
    color: #6b6b6a;
}
.client-history{
    background: #ffffff;
    margin-top: 20px;
}
.client-history h3 {
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid rgba(107,107,106,.2);
    color: #6b6b6a;
}

.history-inner h3{
    font-size: 18px;
}

.history-inner li h4 {
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    color: #6b6b6a;
}
.review p{
    font-size: 12px;
}
.review h4 {
    font-size: 16px;
    font-weight: 600;
    color: #6b6b6a;
}
.review h5 {
    font-size: 14px;
}
.history-inner li:last-child{
    border: none;
}
.history-inner p {
    color: #6B6B6A;
    font-size: 14px;
    padding-bottom: 4px;
}
.review h4{
    position: relative;
}

p.r-price {
    font-size: 14px;
    text-align: center;
}
p.r-price span {
    font-size: 12px;
}
.job-detail-btn {
    text-align: center;
    width: 100%;
}
.job-detail-btn a{
    text-decoration: none; 
}
.btn1 a{
    color: #6B6B6A;
    font-size: 16px;
    font-weight: 700;
}
.btn2 a{
    color: #6B6B6A;
    font-size: 14px;;
}
ul.rating-area {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 991px){
}