.bg-white.sidebar.nav{
width: 100% !important;
padding: 15px 10px 0 0;
}
.side-menu h3 {
    color: #6B6B6A;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}
.skills{
    border-bottom: 0.5px solid rgba(107, 107, 106, 0.2)
}
.side-menu ul {
    margin: 0 0 0 24px;
    width: 100%;
}


.side-menu ul li{
    padding: 0 0 15px 0;
}
.side-menu ul li label {
    width: 188px;
}
.heading {
    font-size: 15px;
    color: #6B6B6A;
}

@media screen and (max-width: 1200px){
    .side-menu ul li label {
        width: 147px;
    }
}

@media screen and (max-width: 991px){
    .side-menu ul li label {
        width: 92px;
    }
}