*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.background{
    position: relative;
width: 70%;
height: 1090px;
float:right;
background: #F7F8FA;
}
.userpad{
    position: absolute;
width: 48px;
height: 48px;
left: 14.8%;
right: 47.75%;
top: 139px;
}
.text{
    position: absolute;
    height: 28px;
    width: 197px;
    left: 8%;
    right: 47.75%;
    margin-top: 195px;
    border-radius: nullpx;
    font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #6B6B6A;

}
.paragragh{
    position: absolute;
    height: 40px;
width: 290px;
left: 14.8%;
right: 47.75%;
top: 231px;
border-radius: nullpx;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.4rem;
letter-spacing: 0em;
text-align: left;
color: #6b6a6a;
}

 .Buttons{
     position: absolute;
     margin-top: 989px;
     margin-left: 15%;
     width: 75%;
     height: 90px;
     
 }
 .Buttonss{
    margin: 20px 1px;
    float: right;
 }
 .pf_prevButtonns{
    margin: 35px 0% 0% 0px;
    float: left;
    border: none;
    border-radius: 18px;
    color: #6B6B6A;
    font-family: Poppins;


}